@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Web.UI.Controls.Common.UserControls
@model RenderingModel
@{
    var rendering = Html.Sitecore().Controls().GetUserControl(Model.Rendering);
    rendering.Requires.Script("contenttesting", "TestOptions.js");
    rendering.Requires.Script("contenttesting", "json2.js");


    var htmlAttributes = rendering.HtmlAttributes;
}
<div @htmlAttributes>
</div>

