@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Web.UI.Controls.Common.UserControls
@model RenderingModel
@{
    var rendering = Html.Sitecore().Controls().GetUserControl(Model.Rendering);
    rendering.Class = "sc-QueryStringParameterResolver";
    rendering.Requires.Script("contenttesting", "QueryStringParameterResolver.js");
    rendering.Attributes["data-sc-parameter"] = rendering.GetString("Parameter");
    var htmlAttributes = rendering.HtmlAttributes;
}
<div @htmlAttributes>
</div>
