@using Sitecore.XA.Foundation.MarkupDecorator.Extensions
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions

@model Sitecore.XA.Feature.Events.Models.EventCalendarRenderingModel

<div @Html.Sxa().Component(Model.Rendering.RenderingCssClass ?? "event-calendar", Model.Attributes) data-properties='@Model.JsonDataProperties' >
    <div class="component-content">
        @Html.Sxa().RenderHeading(Model.HeadingTag, Model.DataSourceItem, "Title", Model.GetRenderingWebEditingParams())
        <div id="@Model.Id" class="event-calendar-inner"></div>
    </div>
</div>