
@using Microsoft.Extensions.DependencyInjection
@using Sitecore.Commerce.XA.Foundation.SiteMetadata.Managers
@using Sitecore.DependencyInjection
@using Sitecore.Commerce.XA.Foundation.Common
@using Sitecore.Commerce.XA.Foundation.Common.Utils

@{
    Layout = "../../SXA/Meta Component Layout.cshtml";

    var metadataManager = ServiceLocatorHelper.GetService<IMetadataManager>();
}
@if (Sitecore.Context.PageMode.IsExperienceEditor)
{
    var link = @metadataManager.GetServerUrl() + "/category/sample_category";
    <link rel='canonical' href='@link' />
    <title>Sample title</title>
}
else
{
    @metadataManager.GetTags()
}
