@model Sitecore.Speak.Components.Models.CompositeComponentRenderingModel
@{
    Model.Class.Append("sc-datesmanager");
    Model.DataBind.IsVisible();
}

<div @Model.HtmlAttributes>
    @Model.Layout
</div>