*.swp
*.*~
project.lock.json
.DS_Store
*.pyc

# Visual Studio Code
.vscode

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio
.vs/

# nuget
packages/

#SC-Engine
logs/
lib/**/*.dll
lib/**/*.xml
lib/**/*.XML
lib/**/*.Xml
lib/**/*.config
lib/**/*.lic
lib/**/*.pdb
lib/**/*.exe
lib/**/*.rsp
lib/**/*.targets
lib/**/*.lastcodeanalysissucceeded
**/wwwroot/localhost.pfx

#node/gulp
node_modules/
package-lock.json

/Output