@using Sitecore.XA.Foundation.MarkupDecorator.Extensions
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions

@model Sitecore.XA.Feature.Composites.Models.SnippetRenderingModel

<div @Html.Sxa().Component(Model.Rendering.RenderingCssClass ?? "snippet", Model.Attributes)>
    <div class="component-content">
        @if (Model.HasCompositeLoop)
        {
            @Model.MessageHasLoop
        }
        else if (Model.DataSourceItem == null || Model.CompositeItem==null)
        {
           @Model.MessageIsEmpty
        }
        else
        {
            <div class="snippet-inner">
                <div class="snippet-container">
                    @{ Html.RenderPartial("SnippetContent", Model); }
                </div>
            </div>    
        }
    </div>
</div>
