@{
    Layout = Sitecore.Configuration.Settings.GetSetting("XA.Feature.Composites.CompositeComponentLayoutPath", "Composite Component Layout.cshtml");
    ViewBag.Title = "Edit accordion item";
}

<div class="component accordion" data-properties="{&quot;expandedByDefault&quot;:false}">
    <div class="component-content">
        <div>
            <ul class="items">
                <li class="item">
                    <div class="toggle-header">
                        <div class="label">
                            @Html.Sitecore().Placeholder("section-title")
                        </div>
                    </div>
                    <div class="toggle-content">
                        @Html.Sitecore().Placeholder("section-content")
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>