@using Sitecore.Mvc
@using Sitecore.XA.Foundation.JsonVariants.Extensions

@model Sitecore.XA.Foundation.Variants.Abstractions.Models.VariantsRenderingModel

@if (Sitecore.Context.PageMode.IsNormal || Sitecore.Context.PageMode.IsPreview)
{
    @Html.JsonVariants().RenderJsonVariantFields(Model.VariantFields.ToList(), Model.Item, true)
}
else
{
    string renderingClass = Model.Rendering.RenderingCssClass ?? "json-content";
    <div class="json-component-wrapper @renderingClass"><pre class="language-json">@Html.JsonVariants().RenderJsonVariantFields(Model.VariantFields.ToList(), Model.Item, true)</pre></div>
}