@using System.Web.Mvc.Html
@using Sitecore.XA.Foundation.MarkupDecorator.Extensions
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions

@model Sitecore.XA.Feature.PageContent.Models.PaginationRenderingModel

<div @Html.Sxa().Component(Model.Rendering.RenderingCssClass ?? "list-pagination", Model.Attributes)>
    <div class="component-content">
        @if (!Model.Pages.Any())
        {
            @Model.MessageIsEmpty
        }
        else
        {
            <nav>@{ 
                foreach (var page in Model.Pages.Where(p=>!string.IsNullOrEmpty(p.BaseModel.Label)))
                {
                    Html.RenderPartial("PaginationLink", page);
                }
            }</nav>
        }
    </div>
</div>