@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Web.UI.Controls.Common.UserControls
@model RenderingModel
@{
  var rendering = Html.Sitecore().Controls().GetUserControl(Model.Rendering);
  rendering.Class = "sc-GroupedCheckboxList";
  rendering.Requires.Script("contenttesting", "GroupedCheckboxList.js");
  rendering.Requires.Css("contenttesting", "GroupedCheckboxList.css");

  rendering.Attributes["data-sc-items"] = rendering.GetString("Items", "items");
  
  var groupTitleField = rendering.GetString("Group Title Field", "groupTitleField");
  var groupItemsField = rendering.GetString("Group Items Field", "groupItemsField");
  var itemTitleField = rendering.GetString("Item Title Field", "itemTitleField");
  var itemValueField = rendering.GetString("Item Value Field", "itemValueField");
  var checkedInitially = rendering.GetString("Checked Initially", "checkedInitially").ToLower();

  var htmlAttributes = rendering.HtmlAttributes;  
}      
<div @htmlAttributes>
  <ul data-bind="foreach: items">
    <li>
      <h3 data-bind="text: @groupTitleField"></h3>
      <ul data-bind="foreach: @groupItemsField">
        <li>
          <input type="checkbox" data-bind="attr: { id: @itemValueField, checked: '@checkedInitially' == 'true' }" />
          <span data-bind="text: @itemTitleField" />
        </li>
      </ul>
    </li>
  </ul>
</div>