@using Sitecore.XA.Feature.LayoutServices.Integration.Models

@model PageLayoutJsonModel

@if (Sitecore.Context.PageMode.IsNormal || Sitecore.Context.PageMode.IsPreview)
{
    @Html.Raw(Model.Json)
}
else
{
    <div>Layout Service output will be rendered here</div>
}