@using Sitecore.XA.Foundation.MarkupDecorator.Extensions
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions

@model Sitecore.XA.Feature.Search.Models.SearchResultsCountRenderingModel

<div @Html.Sxa().Component(Model.Rendering.RenderingCssClass ?? "search-results-count", Model.Attributes) data-properties='@Model.JsonDataProperties'>
    <div class="component-content">
        @Model.MessageIsEmpty
        <div class="results-count">
            @Html.Sxa().Field(Model.FieldName, Model.DataSourceItem, !Model.IsControlEditable)
        </div>
        <div class="progress"></div>
    </div>
</div>

