@using Sitecore.Mvc.Presentation
@using Sitecore.Mvc
@using System.Collections.Generic
@using Sitecore.ContentTesting.ViewModel

@using Sitecore.Web.UI.Controls.Common.UserControls
@model RenderingModel
@{
    var userControl = this.Html.Sitecore().Controls().GetUserControl(this.Model.Rendering);
    userControl.Requires.Script("contenttesting", "ExperienceIndicator.js");
    userControl.Requires.Css("contenttesting", "ExperienceIndicator.css");

    var legendItems = userControl.GetString("LegendItems", "LegendItems");

    //legendItems = @"[{ index: 0, color: '#FF0000' }, { index: 1, color: '#289928' }, { index: 2, color: '#289928' }, ];";
    //legendItems = @"[{ index: 1, color: '#dc291e', groupLegend: 'Conversion rate' }, { index: 0, color: '#CCCCCC', groupLegend: 'Engagement value' }, { index: 2, color: '#6ea244', groupLegend: 'Conversion rate' },  ];";
    JsonResult json = new JsonResult
    {
      Data = new List<LegendIndexChart>() { LegendIndexChart.RED, LegendIndexChart.GREEN, LegendIndexChart.GREY, LegendIndexChart.DARK_GREY },
    };
    legendItems = new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(json.Data);
    userControl.SetAttribute("data-sc-legenditems", legendItems);
    
    var items = userControl.GetString("Items", "Items");

//    items = @"[{ name: 'group1', items: [{ guid: '{3}', valuePerc: 34, valuePerc2: 100, valuePerc3: 56, title: 'Experience2', legendIndex: 0, legendIndex2: 2, legendIndex3: 1, isWinner: true }, { guid: '{13}', valuePerc: 10, title: 'Experience3', legendIndex: 2, }] }, 
//                { name: 'group2', items: [{ guid: '{2}', valuePerc: 55, title: 'Experience4', legendIndex: 1, }, { guid: '{12}', valuePerc: 10, title: 'Experience5', legendIndex: 0, isWinner: true }] },
//                { name: 'group3', items: [{ guid: '{5}', valuePerc: 85, valuePerc2: 12, title: 'Experience6', legendIndex: 1, legendIndex2: 0, }, { guid: '{14}', valuePerc: 70, title: 'Experience7', legendIndex: 1, isWinner: true }] },
//                { name: 'group4', items: [{ guid: '{7}', valuePec: 95, title: 'Experience8', legendIndex: 2, }, { guid: '{16}', valuePerc: 10, title: 'Experience9', legendIndex: 2, isWinner: true }] }, ]";


//    items = @"[{ name: 'group1', items: [{ guid: '{3}', valuePerc: 90, valuePerc2: 40, valuePerc3: 60, value2: 3, number: 0, title: 'Experience2', legendIndex: 0, legendIndex2: 2, legendIndex3: 1,  isWinner: true }, 
//                                         { guid: '{13}', valuePerc: 70, valuePerc2: 70, number: 1, title: 'Experience3', legendIndex: 1, legendIndex2: 0 }, 
//                                         { guid: '{13}', valuePerc: 50 number: 1, title: 'Experience3', legendIndex: 2, }, ] },  ]";

    userControl.SetAttribute("data-sc-items", items);


    var minimumScaleValue = userControl.GetString("MinimumScaleValue", "MinimumScaleValue");
    userControl.SetAttribute("data-sc-minimumscalevalue", minimumScaleValue);

    var maximumScaleValue = userControl.GetString("MaximumScaleValue", "MaximumScaleValue");
    userControl.SetAttribute("data-sc-maximumscalevalue", maximumScaleValue);

    var titleChart = userControl.GetString("TitleChart", "TitleChart");
    userControl.SetAttribute("data-sc-titlechart", titleChart);

    var isLegendVisible = userControl.GetBool("IsLegendVisible", "IsLegendVisible");
    userControl.SetAttribute("data-sc-islegendvisible", isLegendVisible);

    var noDataText = userControl.GetString("NoDataText", "NoDataText");
    userControl.SetAttribute("data-sc-nodatatext", noDataText);
            
    var htmlAttributes = userControl.HtmlAttributes;
}


<div class="scExp-dvExperienceList scrollCustom"  @htmlAttributes>

    @*  <div class="scExp-dvExperience scExp-dvExperienceGrey">
 
      <table style="width:100%; height: 100%;">
        <tr class="scExp-trRow">
          <td class="scExp-tdColumnMain" style="width: 170px;">
            <table style="width:100%; height: 100%;">
              <tr class="" >
                <td style="padding-left: 7px;width: 20%;">
                  <span class="firstColumn">1</span>
                </td>    
                <td style="text-align: right;">
                  <span style="font: 17px arial;display: inline-block;padding-right: 10px;">Experience 2</span>
                  <div class="scExp-dvColumnBorder"></div>
                </td>    
              </tr>
            </table>
          </td>    
          <td class="scExp-tdColumnMain">
          </td> 
          <td class="scExp-tdColumnMain">
          </td>
          <td class="scExp-tdColumnMain">
          </td>
          <td class="scExp-tdColumnMain">
          </td>
          <td class="scExp-tdColumnMain">
          </td>
        </tr>
      </table>

      <div class="scExp-dvIndicator dvIndGreen ExpValue2"></div>
      <div class="dvScaleValue dvScVal0">
        <span>0</span>
      </div>
      <div class="dvScaleValue dvScVal50">
        <span>50</span>
      </div>
      <div class="dvScaleValue dvScVal100">
        <span>100</span>
      </div>

  </div>*@

</div>
