<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Sitecore.Commerce.Connect.Collection.Model" version="12.0.18" targetFramework="net471" />
  <package id="Sitecore.Commerce.Connect.Core" version="12.0.18" targetFramework="net471" />
  <package id="Sitecore.Commerce.XA.Foundation.Catalog" version="2.0.181" targetFramework="net471" />
  <package id="Sitecore.Commerce.XA.Foundation.Common" version="2.0.181" targetFramework="net471" />
  <package id="Sitecore.Kernel" version="9.1.1" targetFramework="net471" />
  <package id="Sitecore.XConnect" version="9.1.1" targetFramework="net471" />
  <package id="Sitecore.XConnect.Client" version="9.1.1" targetFramework="net471" />
  <package id="Sitecore.XConnect.Client.Configuration" version="9.1.1" targetFramework="net471" />
</packages>