@model Sitecore.ExperienceForms.Client.Models.FormDesignBoardRenderingModel
@{
    Model.Class.Append("sc-formDesignBoard");
    Model.DataBind.IsVisible();
}
<div @Model.HtmlAttributes>
</div>
