@model Sitecore.XA.Feature.SiteMetadata.Models.BrowserTitleRenderingModel

@{
    Layout = Sitecore.Configuration.Settings.GetSetting("XA.Foundation.Presentation.MetaComponentLayoutPath", "../SXA/Meta Component Layout.cshtml");
}

@if (!string.IsNullOrWhiteSpace(Model.Title))
{
    <title>@Html.Raw(Model.Title)</title>
}
else if (string.IsNullOrWhiteSpace(Model.Title) && Sitecore.Context.PageMode.IsExperienceEditorEditing)
{
    <title>[Title field is empty or is missing on the context item]</title>
}