@using Sitecore.XA.Foundation.Mvc
@model System.String
<div class="component non-sxa-context">
    <div class="component-content">
        <strong>@Model</strong> @Sitecore.Globalization.Translate.Text(Texts.NonSxaContextText)
    </div>
</div>