<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <services>
      <register serviceType="Feature.Compare.Website.Controllers.ProductCompareController, Feature.Compare.Website" implementationType="Feature.Compare.Website.Controllers.ProductCompareController, Feature.Compare.Website" lifetime="Transient"/>
      <register serviceType="Feature.Compare.Website.Repositories.IProductCompareRepository, Feature.Compare.Website" implementationType="Feature.Compare.Website.Repositories.ProductCompareRepository, Feature.Compare.Website" lifetime="Singleton"/>
      <register serviceType="Feature.Compare.Website.Managers.ICompareManager, Feature.Compare.Website" implementationType="Feature.Compare.Website.Managers.CompareManager, Feature.Compare.Website" lifetime="Singleton"/>
    </services>

    <commerce.XA>

      <models>
        <AddViewCompareButtonModel type="Feature.Compare.Website.Models.AddViewCompareButtonModel, Feature.Compare.Website"/>
        <ProductCompareModel type="Feature.Compare.Website.Models.ProductCompareModel, Feature.Compare.Website"/>
        <RemoveFromProductCompareModel type="Feature.Compare.Website.Models.RemoveFromProductCompareModel, Feature.Compare.Website"/>
      </models>

    </commerce.XA>

  </sitecore>
</configuration>