
@using Sitecore.XA.Foundation.MarkupDecorator.Extensions
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Commerce.XA.Foundation.Common.Models

@model BaseCommerceRenderingModel

<div @Html.Sxa().Component("cxa-startcheckout-component", Model.Attributes)>

    @Model.ErrorMessage
</div>