@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc
@using Sitecore.XA.Foundation.MarkupDecorator.Extensions

@model Sitecore.XA.Foundation.DynamicPlaceholders.Models.DynamicPlaceholdersRenderingModel

@{
    const string placeholderKeyPrefix = "edit-panel";
    var key = string.Format("{0}-{1}", placeholderKeyPrefix, Model.Id);
}

@if (Html.Sxa().IsEdit)
{
    <div>
        <div @Html.Sxa().Component(Model.Rendering.RenderingCssClass ?? "edit-mode-panel", Model.Attributes)>
            <div class="component-content">
                @Html.Sitecore().Placeholder(key)
            </div>
        </div>
    </div>
}