<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:unicorn="http://www.sitecore.net/xmlconfig/unicorn/">
    <sitecore>
        <unicorn>
            <configurations>
                <configuration name="Feature.ProductCompare.Serialisation" description="Product Compare feature serialisation items" extends="Helix.Base">
                    <predicate>

                        <!--
							Each include can also exclude specific subitems by path:
							<exclude path="/sitecore/content"/>

							Excludes may also exclude all children at once by adding a trailing slash, e.g. this would include the root /sitecore item but no children
							<include path="/sitecore">
								<exclude path="/sitecore/" />
							</include>

							NOTE: after changing what is included or excluded, you should reserialize all items, or at least the added items
							NOTE: the "name" attribute controls the folder name the items will go into (for SFS). If unspecified, the last path segment is used. Names must be unique across the configuration.
						-->
                        <!-- Settings -->
                        <include name="ProductCompare.Renderings" database="master" path="/sitecore/layout/Renderings/Feature/Commerce Experience Accelerator/Commerce Product Compare"/>
                        <include name="ProductCompare.Templates" database="master" path="/sitecore/templates/Feature/Commerce Experience Accelerator/Product Compare"/>
                    </predicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>