@using Sitecore.XA.Feature.PageStructure
@using Sitecore.XA.Foundation.MarkupDecorator.Extensions
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions
@model Sitecore.XA.Feature.PageStructure.Models.IFrameRenderingModel

@if (!string.IsNullOrEmpty(Model.SourceUrl) || Html.Sxa().IsEdit)
{
    <div @Html.Sxa().Component(Model.Rendering.RenderingCssClass ?? "iframe", Model.Attributes)>
        <div class="component-content">
            @Model.MessageIsEmpty
            <iframe src="@Model.SourceUrl"></iframe>
            @if (Html.Sxa().IsEdit)
            {
                @Html.Sxa().Field(Templates.IFrame.Fields.Link)
            }
        </div>
    </div>
}
