<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net462" />
  <package id="Microsoft.AspNet.Razor" version="3.2.6" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.6" targetFramework="net462" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.DependencyInjection" version="1.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="1.0.0" targetFramework="net462" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net462" />
  <package id="RazorGenerator.MsBuild" version="2.5.0" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.Cintel.Client.NoReferences" version="9.0.180604" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.Client.NoReferences" version="9.0.180604" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.ContentSearch.Linq.NoReferences" version="9.0.180604" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.ContentTesting.NoReferences" version="9.0.180604" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.ControlPanel.NoReferences" version="9.0.180604" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.EDS.Client.NoReferences" version="9.0.180604" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.ExperienceExplorer.Web.NoReferences" version="9.0.180604" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.ExperienceForms.Client.NoReferences" version="9.0.180604" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.ExperienceForms.Mvc.NoReferences" version="9.0.180604" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.ExperienceForms.NoReferences" version="9.0.180604" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.FXM.NoReferences" version="9.0.180604" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.FXM.Speak.NoReferences" version="9.0.180604" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.Kernel.NoReferences" version="9.0.180604" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.LaunchPad.NoReferences" version="9.0.180604" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.ListManagement.Client.NoReferences" version="9.0.180604" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.ListManagement.NoReferences" version="9.0.180604" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.Marketing.Automation.Client.NoReferences" version="9.0.180604" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.Marketing.Campaigns.Client.NoReferences" version="9.0.180604" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.Marketing.Client.NoReferences" version="9.0.180604" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.Mvc.Analytics.NoReferences" version="9.0.180604" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.Mvc.NoReferences" version="9.0.180604" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.PathAnalyzer.Client.NoReferences" version="9.0.180604" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.PathAnalyzer.NoReferences" version="9.0.180604" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.Speak.Applications.NoReferences" version="9.0.180604" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.Speak.Client.NoReferences" version="9.0.180604" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.Speak.Components.NoReferences" version="9.0.180604" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.Speak.Components.Web.NoReferences" version="9.0.180604" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.XA.Feature.Analytics" version="3.7.0.643" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.XA.Feature.Compliancy" version="3.7.0.643" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.XA.Feature.Composites" version="3.7.0.643" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.XA.Feature.Context" version="3.7.0.643" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.XA.Feature.Engagement" version="3.7.0.643" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.XA.Feature.Events" version="3.7.0.643" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.XA.Feature.Forms" version="3.7.0.643" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.XA.Feature.GenericMetaRendering" version="3.7.0.643" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.XA.Feature.Json" version="3.7.0.643" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.XA.Feature.LayoutServices.Integration" version="3.7.0.643" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.XA.Feature.Maps" version="3.7.0.643" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.XA.Feature.Media" version="3.7.0.643" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.XA.Feature.Navigation" version="3.7.0.643" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.XA.Feature.Overlays" version="3.7.0.643" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.XA.Feature.PageContent" version="3.7.0.643" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.XA.Feature.PageStructure" version="3.7.0.643" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.XA.Feature.Search" version="3.7.0.643" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.XA.Feature.Security" version="3.7.0.643" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.XA.Feature.SiteMetadata" version="3.7.0.643" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.XA.Feature.Social" version="3.7.0.643" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.XA.Feature.Taxonomy" version="3.7.0.643" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.XA.Foundation.DynamicPlaceholders" version="3.7.0.643" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.XA.Foundation.Grid" version="3.7.0.643" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.XA.Foundation.JsonVariants" version="3.7.0.643" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.XA.Foundation.MarkupDecorator" version="3.7.0.643" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.XA.Foundation.Mvc" version="3.7.0.643" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.XA.Foundation.Presentation" version="3.7.0.643" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.XA.Foundation.RenderingVariants" version="3.7.0.643" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.XA.Foundation.Search" version="3.7.0.643" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.XA.Foundation.SitecoreExtensions" version="3.7.0.643" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.XA.Foundation.Theming" version="3.7.0.643" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.XA.Foundation.Variants.Abstractions" version="3.7.0.643" targetFramework="net462" developmentDependency="true" />
  <package id="System.Collections" version="4.0.11" targetFramework="net462" />
  <package id="System.Collections.Concurrent" version="4.0.12" targetFramework="net462" />
  <package id="System.ComponentModel" version="4.0.1" targetFramework="net462" />
  <package id="System.Diagnostics.Debug" version="4.0.11" targetFramework="net462" />
  <package id="System.Globalization" version="4.0.11" targetFramework="net462" />
  <package id="System.Linq" version="4.1.0" targetFramework="net462" />
  <package id="System.Linq.Expressions" version="4.1.0" targetFramework="net462" />
  <package id="System.Reflection" version="4.1.0" targetFramework="net462" />
  <package id="System.Resources.ResourceManager" version="4.0.1" targetFramework="net462" />
  <package id="System.Runtime.Extensions" version="4.1.0" targetFramework="net462" />
  <package id="System.Threading" version="4.0.11" targetFramework="net462" />
  <package id="System.Threading.Tasks" version="4.0.11" targetFramework="net462" />
</packages>