@using Sitecore.ContentTesting
@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.ContentTesting.Components
@using Sitecore.Globalization;

@model RenderingModel
@{
  var resolver = Html.Sitecore().Controls().GetParametersResolver(Model.Rendering);
  var component = new CompareImage(resolver);
  var htmlAttributes = component.HtmlAttributes;

  var textClickImageToZoom = Translate.Text(Texts.CLICK_IMAGE_TO_ZOOM);
  var textBefore = Translate.Text(Texts.BEFORE);
  var textAfter = Translate.Text(Texts.AFTER);
}

<div class="dvCompareImage" @htmlAttributes data-bind="visible: isVisible">
  <div id="dvBeforeAfter">
    <div class="dvSide">
      <div class="dvTop">
        <span>
          @textBefore
        </span>
        <img id="imgInfoBefore" src="/sitecore/shell/client/Applications/ContentTesting/Assets/info.png">
      </div>
      <div class="dvMiddle">
        <img id="imgBefore" class="img-loading" />
      </div>
      <div class="dvBottom"><span>@textClickImageToZoom</span> </div>
    </div>

    <div class="dvSide">
      <div class="dvTop">
        <span>
          @textAfter
        </span>
        <img id="imgInfoAfter" src="/sitecore/shell/client/Applications/ContentTesting/Assets/info.png">
      </div>
      <div class="dvMiddle">
        <img id="imgAfter" class="img-loading" />
      </div>
      <div class="dvBottom">@textClickImageToZoom</div>
    </div>
  </div>
</div>