@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Web.UI.Controls.Common.Renderings
@using Sitecore.Web.UI.Controls.Common.UserControls
@model RenderingModel
@{
  var rendering = Html.Sitecore().Controls().GetUserControl(Model.Rendering);
  rendering.Class = "sc-ExperienceOptimizationButtonGroup btn-group";

  rendering.HasNestedComponents = true;
  
  
  
  var buttons = rendering.GetString("Items").Split('|');
  
  var htmlAttributes = rendering.HtmlAttributes;

}
<div @htmlAttributes>
  @foreach (var buttonId in buttons)
  {
    var button = Sitecore.Context.Database.GetItem(buttonId);
      @Html.Sitecore().Controls().Rendering(
      this.Html,
      "{913AB005-2527-4C2D-9827-FB3A8DFB135C}",
      rendering.ControlId + button.Name,
      button.ID.ToString())

  }
</div>
