@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions
@model Sitecore.XA.Foundation.Mvc.Models.RenderingModelBase

@Html.Sxa().Field("SlideImage", Model.Item, Model.GetRenderingWebEditingParams())
<div class="carousel-body">
       @Html.Sxa().Field("SlideText", Model.Item, Model.GetRenderingWebEditingParams())
</div>
<div class="carousel-link">
        @Html.Sxa().Field("SlideLink", Model.Item, Model.GetRenderingWebEditingParams())
</div>
