@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions

@model Sitecore.XA.Feature.Composites.Models.TabsRenderingModel

@{
    var contentBaseKey = "section-content";
}

@foreach (var composite in Model.CompositeItems)
{
    var contentKey = string.Format("{0}-{1}-{2}", contentBaseKey, composite.Key, Model.Id);
    <div class="tab">
        @using (Html.Sxa().BeginEditFrame(composite.Value.ID.ToString(), "Tabs", Model.IsControlEditable))
        {
            @Html.Sitecore().Placeholder(contentKey)
        }
    </div>
}
