@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions

@model Sitecore.XA.Feature.Composites.Models.TabsRenderingModel

@{
    var headerBaseKey = "section-title";
}

@foreach (var composite in Model.CompositeItems)
{
    var headerKey = string.Format("{0}-{1}-{2}", headerBaseKey, composite.Key, Model.Id);
    <li>
        <div>
            @using (Html.Sxa().BeginEditFrame(composite.Value.ID.ToString(), "Tabs", Model.IsControlEditable))
            {
                @Html.Sitecore().Placeholder(headerKey)
            }

        </div>
    </li>
}
