﻿@using Sitecore.XA.Foundation.MarkupDecorator.Extensions
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions

@model Sitecore.XA.Feature.Social.Models.SocialMediaShareRenderingModel

@foreach (string pageHeader in Model.Scripts)
{
    @Html.Raw(pageHeader)
}
<div @Html.Sxa().Component(Model.Rendering.RenderingCssClass ?? "social-media-share", Model.Attributes)>
    <div class="component-content">
        @Html.Sxa().RenderHeading(Model.HeadingTag, Model.DataSourceItem, "Title", Model.GetRenderingWebEditingParams()) 
        @if (Model.Rendering.DataSourceItem == null || !Model.Buttons.Any())
        {
            @Model.MessageIsEmpty
        }
        <ul>
            @foreach (HtmlString button in Model.Buttons)
            {
                <li>
                    @button
                </li>
            }
        </ul>
    </div>
</div>