
@model Feature.Compare.Website.Models.ProductCompareModel

<div class="product-compare column-splitter">
    <h2>Product Compare</h2>
    @foreach (var product in Model.Products)
    {
        <div id="pc-@product.SellableItemId" class="col-xs-3">
            @Html.Partial("~/Views/Commerce/ProductCompare/_ProductComparePanel.cshtml", product)
        </div>
    }
</div>
