@using Sitecore.XA.Foundation.MarkupDecorator.Extensions
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions
@model Sitecore.XA.Feature.Media.Models.FlashRenderingModel


<div @Html.Sxa().Component(Model.Rendering.RenderingCssClass ?? "flash", Model.Attributes) data-properties='@Model.JsonDataProperties'>
    @using (Html.Sxa().BeginEditFrame(Html.Sitecore().CurrentRendering.DataSource, "Flash", Model.IsControlEditable))
    {
        <div class="component-content">
            @Model.MessageEditHere
            <div></div>
            <span class="flash-caption">
                @Html.Sitecore().Field("FlashCaption", Model.GetRenderingWebEditingParams())
            </span>
        </div>
    }
</div>
