@using Sitecore.XA.Feature.Navigation.Models
@using Sitecore.XA.Foundation.RenderingVariants.Extensions
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions
@using Sitecore.XA.Foundation.Variants.Abstractions.Fields
@model NavigationExtendedModel

<ul class="clearfix">
    @foreach (var item in Model.Children)
    {
        var relativeClass = string.Format("rel-level{0}", Model.RelativeLevel);
        <li class="@item.CssClasses.Aggregate() @relativeClass">
            @{
                foreach (BaseVariantField variantField in item.VariantFields)
                {
                    if (item.IsFake)
                    {
                        @Html.RenderingVariants().RenderVariant(variantField, item.PageItem, item.IsControlEditable, Model, (fakeItem, s) => "#")
                    }
                    else
                    {
                        @Html.RenderingVariants().RenderVariant(variantField, item.PageItem, item.IsControlEditable, Model)
                    }
                }
                if (item.Children != null && item.Children.Any())
                {
                    Html.RenderPartial("NavigationLevel", new NavigationExtendedModel{Children = item.Children,RelativeLevel = Model.RelativeLevel + 1});
                }
            }
        </li>
    }
</ul>
