<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:unicorn="http://www.sitecore.net/xmlconfig/unicorn/">
    <sitecore>
        <unicorn>
            <configurations>
                <configuration name="Feature.Rules" description="Rules" extends="Helix.Base">
                    <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">

                        <!-- Rules -->
                        <include name="Feature.Rules.HasPurchasedProductCondition" database="master" path="/sitecore/system/Settings/Rules/Definitions/Elements/CommerceConnect Conditional Renderings/Has Purchased Product Condition" />
                        <include name="Feature.Rules.HasNotPurchasedProductCondition" database="master" path="/sitecore/system/Settings/Rules/Definitions/Elements/CommerceConnect Conditional Renderings/Has Not Purchased Product Condition" />
                    </predicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>