@using Sitecore
@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Configuration
@using Sitecore.Diagnostics
@using Sitecore.Web.UI.Controls.Common.ChildRenderers
@using Sitecore.Web.UI.Controls.Common.UserControls
@model RenderingModel
@{
  
  //TODO: This rendering is only necessary since a childrenderer does not use/expose the UseItemAsDataSource property 
  
  var rendering = Html.Sitecore().Controls().GetUserControl(Model.Rendering);
  rendering.Class = "sc-LicenseOptionsPane";
  var dataSourceItem = ClientHost.Items.GetItem(rendering.DataSource);
  Assert.IsNotNull(dataSourceItem, "datasource");
  rendering.HasNestedComponents = true;
  rendering.Requires.Script("client", "LicenseOptionsPane.js");
  var optionItems = dataSourceItem.GetChildren().Select(c => new HtmlString(new Sitecore.Web.UI.Controls.Common.ItemRenderers.ItemRenderer()
  {
    DataSource = c.ID.ToString(),
    UseItemAsDataSource = true,
    UsePlaceholders = true,
    ControlId = Guid.NewGuid().ToString()
  }.Render()));
  var htmlAttributes = rendering.HtmlAttributes;
}
<div @htmlAttributes>
  @foreach (var optionItem in optionItems)
  {
      @optionItem
  }
</div>