@using Sitecore.Globalization

@{
    Layout = "UtilLayout.cshtml";
    ViewBag.Title = @Translate.Text(Sitecore.Texts.Error2);
}

<div class="wf-statebox wf-statebox-error">
    <p>@Model</p>
</div>
        