@model Sitecore.XA.Feature.PageStructure.Models.SplitterRenderingModel
@using Sitecore.Mvc
@using Sitecore.XA.Foundation.MarkupDecorator.Extensions
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions

@{
    const string placeholderKeyPrefix = "row";
    string renderingClass = Model.Rendering.RenderingCssClass ?? "column-splitter";
}

<div class="component @renderingClass">
    @foreach (var row in Model.EnabledPlaceholders.PlaceholdersIndexes.Select(i => i - 1))
    {
        var key = string.Format("{0}-{1}-{2}", placeholderKeyPrefix, row + 1, Model.Id);
        <div @Html.Sxa().Wrapper(row, Model.Styles.GetValue(row), false)>
            <div @Html.Sxa().RowWrapper(row)>
                @Html.Sitecore().Placeholder(key)
            </div>
        </div>
    }
</div>