@using Sitecore.XA.Feature.Search
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions

@model Sitecore.XA.Feature.Search.Models.FacetRenderingModel

@if (Html.Sxa().IsEdit)
{
    @Html.Sxa().Field(Templates.FacetSelector.Fields.RemoveFilterText, Model.DataSourceItem, !Model.IsControlEditable)

}
else
{
    if (!String.IsNullOrWhiteSpace(Model.RemoveFilterText))
    {
    <div class="bottom-remove-filter">
        <button type="button">@Model.RemoveFilterText</button>
    </div>
    }
}