@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions
@using Sitecore.XA.Foundation.MarkupDecorator.Extensions
@using Sitecore.ExperienceForms.Mvc.Html


@model Sitecore.XA.Foundation.DynamicPlaceholders.Models.DynamicPlaceholdersRenderingModel

@{
    const string placeholderKeyPrefix = "sitecoreFormsWrapper";
    var key = string.Format("{0}-{1}", placeholderKeyPrefix, Model.Id);
}

<div @Html.Sxa().Component(Model.Rendering.RenderingCssClass ?? "sitecore-form", Model.Attributes)>
    <div class="component-content">
        @Html.Sitecore().Placeholder(key)
        @Html.RenderFormStyles()
        @Html.RenderFormScripts()
    </div>
</div>
        
