<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <services>
            <register serviceType="SxaS.Compare.Website.Controllers.ProductCompareController, SxaS.Compare.Website" implementationType="SxaS.Compare.Website.Controllers.ProductCompareController, SxaS.Compare.Website" lifetime="Transient"/>
            <register serviceType="SxaS.Compare.Website.Repositories.IProductCompareRepository, SxaS.Compare.Website" implementationType="SxaS.Compare.Website.Repositories.ProductCompareRepository, SxaS.Compare.Website" lifetime="Singleton"/>
            <register serviceType="SxaS.Compare.Website.Managers.ICompareManager, SxaS.Compare.Website" implementationType="SxaS.Compare.Website.Managers.CompareManager, SxaS.Compare.Website" lifetime="Singleton"/>
        </services>
        
        <commerce.XA>
            
            <models>
                <AddViewCompareButtonModel type="SxaS.Compare.Website.Models.AddViewCompareButtonModel, SxaS.Compare.Website"/>
                <ProductCompareModel type="SxaS.Compare.Website.Models.ProductCompareModel, SxaS.Compare.Website"/>
                <RemoveFromProductCompareModel type="SxaS.Compare.Website.Models.RemoveFromProductCompareModel, SxaS.Compare.Website"/>
            </models>

            <javascript>
                <feature>
                    <file name="addCompareButton" path="/Scripts/Commerce/Feature/ProductCompare/sxas.compare.addCompareButton.js" order="100"/>
                    <file name="removeCompareButton" path="/Scripts/Commerce/Feature/ProductCompare/sxas.compare.removeCompareButton.js" order="110"/>
                </feature>
            </javascript>

        </commerce.XA>
    </sitecore>
</configuration>