@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Web.UI.Controls.Common.UserControls
@using Sitecore.FXM.Speak.Controls.Navigation.Menus;
@model RenderingModel
@{
    var userControl = this.Html.Sitecore().Controls().GetUserControl(this.Model.Rendering);
    userControl.Class = "sc-menu";
    userControl.Requires.Script("business", "Menu.js");

    var itemsDataSource = userControl.GetString("ItemsDataSource");
    var isRootHidden = userControl.GetBool("IsRootHidden", "isRootHidden", false);
    var isEnabled = userControl.GetBool("IsEnabled", "isEnabled", true);
    var userProfileKey = string.Empty;
    var userProfileValue = string.Empty;

    if (!string.IsNullOrEmpty(itemsDataSource))
    {
        userProfileKey = DashboardMenuHelper.GetUserProfileKey(itemsDataSource);
        userProfileValue = Sitecore.Context.User.Profile.GetCustomProperty(userProfileKey);
    }

    userControl.Attributes["data-sc-hasnested"] = "true";
    
    userControl.Attributes["data-sc-userprofilekey"] = userProfileKey;
    userControl.Attributes["data-sc-menustatus"] = string.IsNullOrEmpty(userProfileValue) ? "[]" : userProfileValue;
    userControl.Attributes["data-sc-isenabled"] = isEnabled.ToString();

    var htmlAttributes = userControl.HtmlAttributes;
}

<div @htmlAttributes>
    <div class="menuroot" sc-guid="menuroot">
        @Html.RenderExtendedMenu(itemsDataSource, isRootHidden, userProfileValue)
    </div>
</div>