@using Sitecore
@using Sitecore.Data.Items
@using Sitecore.Globalization
@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Resources
@using Sitecore.Web.UI
@using Sitecore.Web.UI.Controls.Common.JqueryUiUserControls
@model RenderingModel
@{
    var userControl = this.Html.Sitecore().Controls().GetJqueryUiUserControl(this.Model.Rendering);
    userControl.Attributes["data-bind"] = "css: { 'hide-images': !showIconImage() }, visible: isVisible";
    userControl.Class = "sc-treeview";
    userControl.Requires.Script("FXM", "FilteredTreeview.js");

    var rootItemId = userControl.GetString("RootItem");
    var database = userControl.GetString("Database");
    var contentLanguage = userControl.GetString("ContentLanguage");
    var selectedItems = userControl.GetString("SelectedItemId");
    var preLoadPath = userControl.GetString("PreLoadPath");
    var whiteList = userControl.GetString("WhiteList");
    var templatesWhiteList = userControl.GetString("TemplatesWhiteList");

    var checkedItems = userControl.GetString("CheckedItems");
    var clickFolderMode = userControl.GetInt("ClickFolderMode");
    var checkboxEnabled = userControl.GetBool("IsCheckboxEnabled");
    var showScIcons = userControl.GetBool("ShowSitecoreIcons");
    var selectMode = userControl.GetInt("SelectMode");
    var showIconImage = userControl.GetBool("ShowIconImage");
    var showHiddenItems = userControl.GetBool("ShowHiddenItems");


    userControl.SetAttribute("data-sc-rootitem", rootItemId);
    userControl.SetAttribute("data-sc-database", database);
    userControl.SetAttribute("data-sc-loadpath", preLoadPath);
    userControl.SetAttribute("data-sc-contentlanguage", contentLanguage);
    userControl.SetAttribute("data-sc-whitelist", whiteList);
    userControl.SetAttribute("data-sc-templateswhitelist", templatesWhiteList);

    userControl.AddOptionAttribute("selectedItems");
    userControl.AddOptionAttribute("checkedItems");
    userControl.AddOptionAttribute("clickFolderMode");
    userControl.AddOptionAttribute("selectMode");
    userControl.AddBoolOptionAttribute("IsCheckboxEnabled", "checkbox");
    userControl.AddBoolOptionAttribute("ShowSitecoreIcons");
    userControl.AddBoolOptionAttribute("ShowHiddenItems", "showhiddenitems");
    userControl.AddBoolOptionAttribute("ShowIconImage", "showiconimage");

    var htmlAttributes = userControl.HtmlAttributes;
}
<div @htmlAttributes>
    <ul></ul>
</div>
