@using Sitecore.XA.Foundation.MarkupDecorator.Extensions
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions

@model Sitecore.XA.Feature.Security.Models.SocialLoginWrapperModel

@if (Model.IsModuleInstalled)
{
    string placeholderKey = string.Format("social-login-{0}", Model.Id);

    <div @Html.Sxa().Component(Model.Rendering.RenderingCssClass ?? "social-login", Model.Attributes)>
        <div class="component-content">
            @Html.Sitecore().Placeholder(placeholderKey)
        </div>
    </div>
}
@if (!Model.IsModuleInstalled && Html.Sxa().IsEdit)
{
    <span class="module-missing">[@Model.ModuleName module is missing]</span>
}

