﻿@using Sitecore.XA.Foundation.MarkupDecorator.Extensions
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions;

@model Sitecore.XA.Feature.Engagement.Models.DisqusRenderingModel

<div @Html.Sxa().Component(Model.Rendering.RenderingCssClass ?? "disqus", Model.Attributes) data-properties='@Model.JsonDataProperties' >
    <div class="component-content">
        @Model.MessageEditHere
        @if (Model.Visible)
        {
            <div id="disqus_thread"></div>

            <div class="no-short-name">
                @if (string.IsNullOrEmpty(Model.DisqusShortname))
                {
                    @:"You need specify 'disqus shortname' parameter in order to get proper Disqus Thread"  
                }
            </div>
            <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
        }
    </div>
</div>
