
@using Sitecore.XA.Foundation.MarkupDecorator.Extensions
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Commerce.XA.Feature.Catalog.Models
@using Sitecore.Commerce.XA.Foundation.Common.ExtensionMethods;
@using Sitecore.Commerce.XA.Foundation.Common;


@model CatalogItemRenderingModel

@{
    if (Model == null)
    {
        return;
    }
}

<div @Html.Sxa().Component("cxa-productprice-component", Model.Attributes) data-cxa-component-class="ProductPrice" data-cxa-component-initialized="false" data-cxa-component-type="component">
    @if (!String.IsNullOrWhiteSpace(Model.ErrorMessage))
    {
        <div class="error-message">
            @Model.ErrorMessage
        </div>
    }
    else
    {
        <div class="component-content price-info">
            <div class="price-now-before">
                <div class="price-with-savings">
                    <h3>
                        <span data-bind="text: priceNow"></span>
                        <span data-bind="text: savingsMessage"></span>
                    </h3>
                </div>
                <div class="price-before">
                    <h3>
                        <span data-bind="text: priceBefore"></span>
                    </h3>
                </div>
            </div>
            <div class="price-only">
                <h3>
                    <span data-bind="text: priceNow"></span>
                </h3>
            </div>
        </div>
    }
</div>
