@using Sitecore.XA.Foundation.RenderingVariants.Extensions
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions
@using Sitecore.XA.Foundation.Variants.Abstractions.Fields

@model Sitecore.XA.Feature.Events.Models.EventRenderingModel

@{
    string cssClass = ViewData["cssClass"] != null ? (string)ViewData["cssClass"] : "";
    IEnumerable<BaseVariantField> variantFields = ViewData["variantFields"] != null ? (IEnumerable<BaseVariantField>) ViewData["variantFields"] : new List<BaseVariantField>();
}

<li class="event @cssClass">
    @using (Html.Sxa().BeginEditFrame(Model.InnterItem.ID.ToString(), "Event", Model.IsControlEditable && !Model.IsFromComposite))
    {        
        foreach (BaseVariantField variantField in variantFields)
        {
            @Html.RenderingVariants().RenderVariant(variantField, Model.InnterItem, Model.RenderingWebEditingParams, Model)
        }         
    }
</li>
