@model Sitecore.XA.Feature.Overlays.Models.OverlayRenderingModel

<span class="overlay-data" data-width="@Model.Width" data-height="@Model.Height" data-percent="@Model.Percent" >
    @Html.Sitecore().Placeholder("overlay")
</span>
    
